body {
  background-color: #f8f9fa;
}

input:disabled {
  background-color: #fff;
}

#main-tasks {
  border-radius: 0;
}

#input-task,
.input-task-added {
  border: none;
  width: 40vw;
}

.remove-icon {
  cursor: pointer;
}

.edit-icon {
  cursor: all-scroll;
}

#input-task:focus,
.input-task-added:focus {
  outline: none;
}

#delete-all-selected:hover {
  cursor: pointer;
  text-decoration: underline;
}

.edit-task {
  background-color: bisque;
}